<% content_for :title do %>
  Questions
<% end %>

<div class="page-header">
  <h1>Questions</h1>
  <%= link_to new_question_path, class: 'btn btn-primary' do %>
    <%= icon 'fas', 'plus' %>
    New Question
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Contest</th>
        <th>Number</th>
        <th>Description</th>
        <th>Language</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td><%= question.contest %></td>
          <td><%= question.number %></td>
          <td><%= question.description %></td>
          <td><%= question.language %></td>
          <td>
            <%= link_to question, class: 'btn btn-info btn-sm' do %>
              <%= icon 'fas', 'eye', class: 'fa-fw' %>
            <% end %>
            <%= link_to edit_question_path(question), class: 'btn btn-success btn-sm' do %>
              <%= icon 'fas', 'edit', class: 'fa-fw' %>
            <% end %>
            <%= link_to question, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger btn-sm' do %>
              <%= icon 'fas', 'times', class: 'fa-fw' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>